#diary {
    display: flex;
    flex-flow: row wrap;
}

#diaryPage {
    width: calc(0.98 * var(--width));
    height: calc(0.91 * var(--height));
    display: flex;
    position: absolute;
    top: 7.4%;
    margin: 1%;
}