:root {
    --font-size-1: calc(100vw * .026);
    --font-size-2: calc(100vw * .012);
    --font-size-3: calc(100vw * .05);
    --font-size-4: calc(100vw * .04);
    --font-size-5: calc(100vw * .02);
    --font-size-6: calc(100vw * .018);
    /* --background-color-sorcerer: rgba(255, 0, 0, 0.1);
    --background-color-wizard: rgba(0, 0, 255, 0.1);
    --background-color-warlock: rgba(111, 73, 172, 0.1);
    --background-color-rogue: rgba(0, 0, 0, 0.1);
    --background-color-ranger: rgba(0, 96, 0, 0.1);
    --background-color-paladin: rgba(172, 155, 85, 0.1);
    --background-color-monk: rgba(71, 142, 187, 0.1);
    --background-color-fighter: rgba(85, 57, 48, 0.1);
    --background-color-druid: rgba(124, 133, 71, 0.1);
    --background-color-cleric: rgba(110, 110, 110, 0.1);
    --background-color-bhunter: rgba(82, 15, 12, 0.1);
    --background-color-bard: rgba(158, 123, 163, 0.1);
    --background-color-barbarian: rgba(195, 119, 95, 0.1);
    --background-color-artificer: rgba(142, 122, 79, 0.1); */
    --background-color-1: rgba(155, 155, 155, 0.1);
    --svg-size-1: calc(100vw * .014);
    --svg-size-2: calc(100vw * .034);
    --svg-size-3: calc(100vw * .028);
    --svg-size-4: calc(100vw * .077);
    --skill-spacing: calc((-1 * .8vh) + (3vw - 12px));
}

::-webkit-scrollbar {
    display: none;
}

[v-cloak] { display: none; }

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgba(121, 121, 121, 0.1);
    font-size: var(--font-size-1);
}

button {
    font-size: var(--font-size-1) !important;
    overflow: auto;
}

input, select {
    background-color: var(--background-color-1);
    border-radius: 6px;
    text-align: center;
    border: 0;
    height: 4.2vh;
}

textarea {
    resize: none;
    border: none;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

.appPage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.block {
    display: inline-block;
    background-color: var(--background-color-1);
    border-radius: 4px;
    padding: 1%;
}

.deleter {
    background-color: var(--background-color-1);
    border: none;
    border-radius: 4px;
    width: 18% !important;
    margin-top: 1%;
}

.deleter svg {
    width: var(--svg-size-3);
    height: var(--svg-size-3);
}

.adder, .editter  {
    background-color: var(--background-color-1);
    border: none;
    border-radius: 4px;
    width: 18% !important;
    margin-top: 1%;
}

.modal-block {
    width: 90%;
    margin-left: 5%;
    background-color: rgb(229, 229, 229);
}

#modalTitle {
    font-size: var(--font-size-4);
}

#modalBody {
    font-size: var(--font-size-1);
    display: flex;
    flex-flow: column nowrap;
}

#modalBody * {
    width: 100%;
    margin-bottom: 1%;
}

#offcanvas {
    background-color: rgb(215, 215, 215);
    width: 34vw;
    font-size: var(--font-size-1);
}

#offcanvas button {
    background-color: rgba(155, 155, 155, 0.4);
    width: 100%;
    height: min-content;
    margin-bottom: 3%;
}

#offcanvasClose {
    position: absolute;
    top: 2vh;
    left: 26vw;
    width: 16px !important;
    height: 16px !important;
}

#exitButton {
    position: relative;
    top: 70vh;
}

.page-enter-active, .page-leave-active {
    transition: opacity .3s ease;
}

.page-enter, .page-leave-to {
    opacity: 0;
}