#spellSheet {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

#spellsHolder {
    position: absolute;
    width: 100%;
    top: 7.5vh;
    width: 98vw;
    left: 1%;
    padding: 1% 0 0 1%;
}

#addSpellButton {
    position: absolute;
    width: 8vw;
    height: 8vw;
    top: 90vh;
    left: 90vw;
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 85, 14, 0.6);
    padding: 0;
}

#addSpellButton svg {
    width: var(--svg-size-4);
    height: var(--svg-size-4);
}

#floatingInput {
    text-align: left;
    padding: 2vh 6%;
    height: 100%;
}

.form-floating, .form-control {
    position: sticky;
    top: 0;
    max-height: 7vh;
    outline: 0;
}

.form-floating label {
    width: auto !important;
    padding: 3% 1%;
    float: left;
}

.form-floating label svg {
    width: auto;
    float: left;
}

.spellList {
    width: 31.36vw;
    margin: 0 1% 1% 0;
    display: flex;
    flex-flow: column nowrap;
}

.spellList p {
    font-size: var(--font-size-1);
}